:root
{
  --btn-primary:hsl(243deg 38% 52%);
  --text-black:hsl(0deg 0% 12%);
  --text-gray:#aaaaaa;
  --text-white:#fff;
  --text-primary:#3c2f60;
  --text-secondary:#5955b3;
  --content-padding-inline:100px;
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  list-style: none;
  border: none;
  list-style: none;
}
button
{
  cursor: pointer;
}
.container
{
  width: 100%;
  height: 100%;
}
nav.navbar-container
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 4;
  padding-block: 40px;
  padding-inline:var(--content-padding-inline);
}
.grow-list
{
  display: flex;
  flex: 2;
  color: var(--text-gray);
}
ul.list
{
  display: flex;
  margin-left: 70px;
}
li.list-item
{
  margin-right: 40px;
}
li.list-item:first-child
{
  color: #000;
}
li.list-item:hover
{
  color: #000;
}
.nav-button
{
  background: var(--text-secondary);
  color: var(--text-white);
  border: 1px solid #fff;
  padding: 15px 35px;
  border-radius: 10px;
}

/* --------------------banner start----------------- */

.banner-container
{
  display: flex;
}
.banner-container div:first-child
{
  padding-inline: var(--content-padding-inline);
  align-self: flex-start;
}
.heading-text
{
  margin-top: 100px;
  font-size: 60px;
  color: var(--text-primary);
  line-height: 70px;
}
.heading-text span
{
  color: var(--text-secondary);
}
.description
{
  color: var(--text-gray);
  font-size: 15px;
  margin-top: 30px;
}
button.btn
{
  background-color: var(--text-secondary);
  color: var(--text-white);
  padding: 20px 45px;
  margin-top: 60px;
  font-size: 16px;
}